<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/test/IdeaProjects/qa1/src/test/java/com/yourcompany/selenium/yourclientprojectname/LoginTest.java">
        <classes>
            <class name="com.yourcompany.selenium.yourclientprojectname.LoginTest">
            </class>
            <class name="com.yourcompany.selenium.yourclientprojectname.LoginNotexistentUserTest">
            </class>
            <class name="com.yourcompany.selenium.yourclientprojectname.DownloadTest">
            </class>
            <class name="com.yourcompany.selenium.yourclientprojectname.PrintTest">
            </class>
            <class name="com.yourcompany.selenium.yourclientprojectname.CopyTest">
            </class>
            <class name="com.yourcompany.selenium.yourclientprojectname.RegistrationTest">
            </class>
        </classes>
    </test>
</suite>